:root {
    --black-color: #333333;
    --orange-color: #F07566;
    --green-color: #4DB282;
    --gray-color: #D8D8D8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
}

@media screen and (min-width: 375px) {
    #container {
        max-width: 357px;
        margin: 0 auto;
    }
    
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .header-logo {
        font-size: 40px;
        font-family: 'Hind Siliguri';
        font-weight: 700;
        letter-spacing: -1px;
        color: var(--black-color);
        text-decoration: none;
        /* position: fixed;
        left: 5px;
        top: 5px; */
    }
    
    .nav {
        display: none;
    }
    
    .burger-icon {
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 50%;
        background: var(--orange-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        align-items: center;
    }
    
    .burger-icon-inner,
    .burger-icon:before,
    .burger-icon:after {
        content: '';
        width: 22px;
        height: 2px;
        border-radius: 2px;
        background: var(--gray-color);
    }
    
    .header.menu-open {
        background-color: var(--orange-color);
        width: 40%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        height: 100vh;
        transition: 0.5s;
    }
    
    .menu-open.header-inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-open .header-logo {
        position: fixed;
        left: 5px;
    }
    
    .menu-open .burger-icon:before,
    .menu-open .burger-icon:after {
        background: #fff;
        position: relative;
        left: 0;
        transition: transform .5s ease;
    }
    
    .menu-open .burger-icon-inner {
        display: none;
    }
    
    .menu-open .burger-icon:before {
        transform: rotate(45deg);
        top: 0;
    }
    
    .menu-open .burger-icon:after {
        transform: rotate(-45deg);
        top: -8px;
    }
    
    .menu-open .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 5vh;
    }
    
    .menu-open .nav-items {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .menu-open .nav-item-link {
        font-family: 'Hind Siliguri';
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .menu-open .header-btn {
        display: none;
    }
    
    .main-inner {
        padding-top: 43px;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
    
    .main-circle {
        display: inline-flex;
        align-items: center;
        width: 12px;
        height: 12px;
        background: var(--orange-color);
        border-radius: 50%;
    }
    
    .main-link {
        padding-left: 12px;
        display: inline-flex;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Hind Siliguri';
        line-height: 32px;
        letter-spacing: 1px;
        color: var(--orange-color);
    }
    
    .heading {
        font-family: 'Hind Siliguri';
        letter-spacing: -1px;
        color: var(--black-color);
    }
    
    .main-heading {
        width: 327px;
        font-size: 56px;
        line-height: 64px;
    }
    
    .main-heading > span {
        display: block;
        color: var(--green-color);
    }
    
    .sub-heading {
        margin-top: 13px;
        font-size: 24px;
        line-height: 32px;
        mix-blend-mode: normal;
        opacity: 0.9;
    }
    
    .main-text {
        padding: 32px 0;
        width: 329px;
        font-size: 20px;
        font-family: 'Work Sans';
        line-height: 32px;
        color: var(--black-color);
        overflow: hidden;
    }
    
    .main-btn {
        display: inline-block;
        margin-top: 32px;
        padding: 11px 40px;
        background-color: var(--orange-color);
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Hind Siliguri';
        letter-spacing: 1px;
        line-height: 26px;
    }
    
    .block-about {
        margin-top: 140px;
    }
    
    .about-heading {
        font-size: 40px;
        line-height: 48px;
    }
    
    .about-items {
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .about-items > li {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .card {
        margin: 32px auto;
        padding-left: 32px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 270px;
        height: 368px;
        border: 1px solid #E6EDF5;
        border-radius: 8px;
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    }

    .card-img {
        width: 64px;
        height: 64px;
    }

    .card-heading {
        font-size: 24px;
        line-height: 32px;
    }

    .card-text {
        line-height: 32px;
        color: rgba(51, 51, 51, 0.496405);
    }

    .features-text {
        line-height: 32px;
    }

    .card-features {
        margin-top: 13px;
        padding: 25px 40px 0 32px;
        width: 329px;
        height: 160px;
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
        border-radius: 8px;
    }

    .card-features .card-heading {
        padding-left: 16px;
        display: inline;
    }

    .card-features .card-text {
        font-size: 14px;
        line-height: 24px;
    }

    .rectangle {
        margin-top: 78px;
    }
    
    /* Portfolio */

    .block-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .block-portfolio .card-text {
        text-align: center;
    }

    .portfolio-card {
        margin: 45px 0 27px 0;
        width: 329px;
        height: 222px;
        background: var(--gray-color);
        border-radius: 8px;
        position: relative;
    }

    .portfolio-card-sm {
        width: 96px;
        height: 96px;
        background: var(--green-color);
        border-radius: 0 25px 0 0;
        position: absolute;
        bottom: 0;
    }

    .portfolio-card-number {
        font-size: 40px;
        font-family: 'Hind Siliguri';
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .portfolio-card-text {
        text-align: center;
    }

    .portfolio-btn {
        margin: 53px 0 98px 0;
        padding: 11px 33px;
        font-size: 16px;
        font-family: 'Hind Siliguri';
        font-weight: 700;
        letter-spacing: -1px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--orange-color);
        border: 1px solid rgba(240, 117, 102, 0.23);
        border-radius: 8px;
    }

    .portfolio-companies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 51px;
    }
    .portfolio-companies:nth-child(2n){
        flex-wrap: wrap;
    }

    /* Block Service */

    .block-service {
        margin-top: 170px;
    }

    .service-clients {
        margin-top: 41px;
        position: relative;
    }

    .service-img {
        padding: 15px;
        border-radius: 8px;
        background: #FFFAEA;
        position: relative;
    }

    .service-clients .about-heading {
        display: inline-block;
        position: absolute;
        left: 80px;
    }

    .service-clients .card-text {
        padding-left: 80px;
    }

    .service-img-successfull {
        padding: 15px;
        border-radius: 8px;
        background: #EEF6FF;
    }

    .service-video {
        margin-top: 176px;
        width: 375px;
        height: 767px;
        background-color: var(--orange-color);
    }

    .service-video .about-heading {
        width: 51%;
        color: #fff;
    }

    .service-video .main-text {
        padding-top: 13px;
        color: #fff;
    }

    /* Block Team */

    .block-team {
        margin-top: 140px;
    }

    .block-center {
        text-align: center;
    }

    .carousel {
        width: 329px;
        height: 448px;
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
        border-radius: 8px;
    }

    .carousel-img {
        padding-left: 16px;
    }

    .slider-team h2, p {
        padding-left: 32px;
    }

    .slider-team .sub-heading{
        margin-top: 25;
    }

    .slick-dots li button:before {
        font-size: 30px;
        color: #FFE4E1;
    }

    .slick-dots li.slick-active button:before {
        font-size: 50px;
        color: var(--orange-color);
    }
}
